In [1]:
import pandas as pd
import numpy as np

In [2]:
cereal = pd.read_csv('../datasets/data2/data2/cereals.csv')

In [3]:
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          77 non-null     object
 1   Manufacturer  77 non-null     object
 2   Type          77 non-null     object
 3   Calories      77 non-null     int64
 4   Fiber         77 non-null     float64
 5   Sugars        77 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.7+ KB

In [4]:
cereal.head()

                        Name    Manufacturer  Type  Calories  Fiber  Sugars
0                  100% Bran         Nabisco  Cold        70   10.0       6
1          100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                   All-Bran       Kellogg's  Cold        70    9.0       5
3  All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4             Almond Delight  Ralston Purina  Cold       110    1.0       8

In [5]:
cereal['Manufacturer'].value_counts()

Manufacturer
Kellogg's                      23
General Mills                  22
Post                            9
Quaker Oats                     8
Ralston Purina                  8
Nabisco                         6
American Home Food Products     1
Name: count, dtype: int64

In [6]:
grouped_cereal = cereal.groupby('Manufacturer')

In [12]:
# Grouping data by 'Manufacturer' and counting the number of cereals per group
grouped = grouped_cereal.size()

# Displaying the total number of groups and the number of cereals per group
print("Total number of groups:", len(grouped))
print("\nNumber of cereals per group:")
print(grouped)

Total number of groups: 7

Number of cereals per group:
Manufacturer
American Home Food Products     1
General Mills                  22
Kellogg's                      23
Nabisco                         6
Post                            9
Quaker Oats                     8
Ralston Purina                  8
dtype: int64

In [21]:
# Extract cereals belonging to the manufacturer 'Nabisco'
nebisco_group = grouped_cereal.get_group('Nabisco')

# Displaying the cereals belonging to 'Nebisco'
print("Cereals belonging to Nebisco:")
print(nebisco_group)

Cereals belonging to Nebisco:
                         Name Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran      Nabisco  Cold        70   10.0       6
20     Cream of Wheat (Quick)      Nabisco   Hot       100    1.0       0
63             Shredded Wheat      Nabisco  Cold        80    3.0       0
64     Shredded Wheat 'n'Bran      Nabisco  Cold        90    4.0       0
65  Shredded Wheat spoon size      Nabisco  Cold        90    3.0       0
68    Strawberry Fruit Wheats      Nabisco  Cold        90    3.0       5

In [20]:
# Grouping data by 'Manufacturer' and calculating the average values for 'Calories', 'Fiber', and 'Sugar'
manufacturer_avg = grouped_cereal[['Calories', 'Fiber', 'Sugars']].mean()

# Displaying the average values for each manufacturer
print("Average values for each manufacturer:")
print(manufacturer_avg)

Average values for each manufacturer:
                               Calories     Fiber    Sugars
Manufacturer
American Home Food Products  100.000000  0.000000  3.000000
General Mills                111.363636  1.272727  7.954545
Kellogg's                    108.695652  2.739130  7.565217
Nabisco                       86.666667  4.000000  1.833333
Post                         108.888889  2.777778  8.777778
Quaker Oats                   95.000000  1.337500  5.250000
Ralston Purina               115.000000  1.875000  6.125000

In [22]:
# Calculate the maximum value in the 'Sugars' column for each manufacturer
max_sugars_per_manufacturer = grouped_cereal['Sugars'].max()

# Displaying the maximum value in the 'Sugars' column for each manufacturer
print("Maximum value in the 'Sugars' column for each manufacturer:")
print(max_sugars_per_manufacturer)

Maximum value in the 'Sugars' column for each manufacturer:
Manufacturer
American Home Food Products     3
General Mills                  14
Kellogg's                      15
Nabisco                         6
Post                           15
Quaker Oats                    12
Ralston Purina                 11
Name: Sugars, dtype: int64

In [23]:
# Calculate the maximum value in the 'Fiber' column for each manufacturer
max_sugars_per_manufacturer = grouped_cereal['Fiber'].min()

# Displaying the maximum value in the 'Fiber' column for each manufacturer
print("Maximum value in the 'Sugars' column for each manufacturer:")
print(max_sugars_per_manufacturer)

Maximum value in the 'Sugars' column for each manufacturer:
Manufacturer
American Home Food Products    0.0
General Mills                  0.0
Kellogg's                      0.0
Nabisco                        1.0
Post                           0.0
Quaker Oats                    0.0
Ralston Purina                 0.0
Name: Fiber, dtype: float64

In [26]:
# Grouping data by 'Manufacturer' and finding the index of the cereal with the lowest amount of sugar in each group
min_sugar_indices = grouped_cereal['Sugars'].idxmin()

# Extracting the rows corresponding to the indices
cereals_with_lowest_sugar = cereal.loc[min_sugar_indices]

# Displaying the cereals with the lowest amount of sugar per manufacturer in a new DataFrame
print("Cereals with the lowest amount of sugar per manufacturer:")
print(cereals_with_lowest_sugar)

Cereals with the lowest amount of sugar per manufacturer:
                         Name                 Manufacturer  Type  Calories  \
43                      Maypo  American Home Food Products   Hot       100
11                   Cheerios                General Mills  Cold       110
3   All-Bran with Extra Fiber                    Kellogg's  Cold        50
20     Cream of Wheat (Quick)                      Nabisco   Hot       100
33                 Grape-Nuts                         Post  Cold       110
57             Quaker Oatmeal                  Quaker Oats   Hot       100
61                  Rice Chex               Ralston Purina  Cold       110

    Fiber  Sugars
43    0.0       3
11    2.0       1
3    14.0       0
20    1.0       0
33    3.0       3
57    2.7      -1
61    0.0       2