In [1]:
import pandas as pd

In [15]:
week1_df = pd.read_csv('../datasets/data2/data2/restaurant/week_1_sales.csv')
week2_df = pd.read_csv('../datasets/data2/data2/restaurant/week_2_sales.csv')
customer_df =  pd.read_csv('../datasets/data2/data2/restaurant/customers.csv')

In [18]:
customer_df.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [17]:
# Concatenate the two DataFrames
combined_df = pd.concat([week1_df, week2_df], keys=['Week 1', 'Week 2'])

# Display the combined DataFrame
print(combined_df)

            Customer ID  Food ID
Week 1 0            537        9
       1             97        4
       2            658        1
       3            202        2
       4            155        9
...                 ...      ...
Week 2 245          783       10
       246          556       10
       247          547        9
       248          252        9
       249          249        6

[500 rows x 2 columns]

In [4]:
# Merge the two DataFrames on the customer ID column
both_weeks_customers = pd.merge(week1_df, week2_df, on='Customer ID', how='inner')

# Extract unique customer IDs from the result
unique_customers = both_weeks_customers['Customer ID'].unique()

# Display the customers who ate at the restaurant both weeks
print("Customers who ate at the restaurant both weeks:")
print(unique_customers)

Customers who ate at the restaurant both weeks:
[537 155 503 550 101  75  77 628 798 462 304 189 799  30 249 677 741 540
 819 937 233  21 459 816 761  80 479 922 909 919 574  45 529 673 310 867
 968 482 163 321 783 578 520 945 343 621]

In [5]:
# Merge the two DataFrames on both 'Customer ID' and 'Item' columns
both_weeks_same_item = pd.merge(week1_df, week2_df, on=['Customer ID', 'Food ID'], how='inner')

# Extract unique customer IDs from the result
unique_customers = both_weeks_same_item['Customer ID'].unique()

# Display the customers who ate at the restaurant both weeks and ordered the same item each week
print("Customers who ate at the restaurant both weeks and ordered the same item each week:")
print(unique_customers)

Customers who ate at the restaurant both weeks and ordered the same item each week:
[304 540 937 233  21 922 578]

In [6]:
# Perform left join to find customers unique to Week 1
only_week1_customers = pd.merge(week1_df, week2_df, on='Customer ID', how='left', indicator=True)
only_week1_customers = only_week1_customers[only_week1_customers['_merge'] == 'left_only']
only_week1_customers = only_week1_customers.drop(columns='_merge')

# Perform right join to find customers unique to Week 2
only_week2_customers = pd.merge(week1_df, week2_df, on='Customer ID', how='right', indicator=True)
only_week2_customers = only_week2_customers[only_week2_customers['_merge'] == 'right_only']
only_week2_customers = only_week2_customers.drop(columns='_merge')

# Display customers who came in only on Week 1
print("Customers who came in only on Week 1:")
print(only_week1_customers)

# Display customers who came in only on Week 2
print("\nCustomers who came in only on Week 2:")
print(only_week2_customers)

Customers who came in only on Week 1:
     Customer ID  Food ID_x  Food ID_y
1             97          4        NaN
2            658          1        NaN
3            202          2        NaN
5            213          8        NaN
6            600          1        NaN
..           ...        ...        ...
252          413          9        NaN
253          926          6        NaN
254          134          3        NaN
255          396          6        NaN
256          535         10        NaN

[195 rows x 3 columns]

Customers who came in only on Week 2:
     Customer ID  Food ID_x  Food ID_y
0            688        NaN         10
1            813        NaN          7
2            495        NaN         10
4            267        NaN          3
8            443        NaN          5
..           ...        ...        ...
249          734        NaN          1
251          276        NaN          4
255          556        NaN         10
256          547        NaN          9
257          252        NaN          9

[197 rows x 3 columns]

In [20]:
# Perform a merge operation to pull customer information from the customer DataFrame
week1_with_customer_info = pd.merge(week1_df, customer_df, left_on='Customer ID', right_on='ID', how='left')

# Display the DataFrame with customer information
print(week1_with_customer_info)

     Customer ID  Food ID   ID First Name Last Name  Gender    Company  \
0            537        9  537     Cheryl   Carroll  Female   Zoombeat
1             97        4   97     Amanda   Watkins  Female        Ozu
2            658        1  658    Patrick      Webb    Male  Browsebug
3            202        2  202      Louis  Campbell    Male  Rhynoodle
4            155        9  155    Carolyn      Diaz  Female   Gigazoom
..           ...      ...  ...        ...       ...     ...        ...
245          413        9  413      Diane    Bailey  Female    Wikibox
246          926        6  926       Anne    Wagner  Female      Skyba
247          134        3  134      Diana      Hall  Female      Quinu
248          396        6  396       Juan    Romero    Male    Zoonder
249          535       10  535      Nancy       Cox  Female     Trudeo

                        Occupation
0                 Registered Nurse
1              Account Coordinator
2    Community Outreach Specialist
3       Account Representative III
4       Database Administrator III
..                             ...
245               Technical Writer
246                Legal Assistant
247              Financial Advisor
248             Analyst Programmer
249             Research Associate

[250 rows x 8 columns]