In [1]:
import pandas as pd
import numpy as np

In [12]:
#make two copies of the dataset to test two methods ie str and apply
chicago_food_inspection = pd.read_csv('../datasets/chicago_food_inspections.csv')
chicago = chicago_food_inspection

In [13]:
chicago_food_inspection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153810 entries, 0 to 153809
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    153810 non-null  object
 1   Risk    153744 non-null  object
dtypes: object(2)
memory usage: 2.3+ MB

In [14]:
chicago_food_inspection.head()

                          Name             Risk
0   MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                  JETS PIZZA   Risk 2 (Medium)
2                   ROOM 1520      Risk 3 (Low)
3    MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                CHARTWELLS       Risk 1 (High)

In [15]:
# Strip whitespaces and change case to lowercase for 'Risk' column using string functions
chicago_food_inspection['Risk'] = chicago_food_inspection['Risk'].str.strip().str.lower()

# Display the DataFrame after performing operations with string functions
print("\nDataFrame after using string functions:")
print(chicago_food_inspection.head())

DataFrame after using string functions:
                          Name             Risk
0   MARRIOT MARQUIS CHICAGO       risk 1 (high)
1                  JETS PIZZA   risk 2 (medium)
2                   ROOM 1520      risk 3 (low)
3    MARRIOT MARQUIS CHICAGO      risk 1 (high)
4                CHARTWELLS       risk 1 (high)

In [16]:
# Define a function to strip whitespaces and change case to lowercase
def clean_risk(risk):
    risk = str(risk)
    return risk.strip().lower()

# Apply the function to the 'Risk' column using apply function
chicago['Risk'] = chicago['Risk'].apply(clean_risk)

# Display the DataFrame after using apply function
print("\nDataFrame after using apply function:")
print(chicago.head())

DataFrame after using apply function:
                          Name             Risk
0   MARRIOT MARQUIS CHICAGO       risk 1 (high)
1                  JETS PIZZA   risk 2 (medium)
2                   ROOM 1520      risk 3 (low)
3    MARRIOT MARQUIS CHICAGO      risk 1 (high)
4                CHARTWELLS       risk 1 (high)